In [ ]:
import pandas as pd
 
# Data.tsv is stored locally in the same directory as of this python file
df = pd.read_csv('/content/drive/MyDrive/Learning - FDP etc/MS - GIS (Illinois)/Spring 2023/GGIS 570 - Advanced Spatial Statistics/Final Project/Data/RedFin/zip_code_market_tracker.tsv000',sep = '\t')
display(df)

In [ ]:
df_zip=pd.read_excel('/FinalZipcodes-HawaiiChicago.xlsx')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6911939 entries, 0 to 6911938
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            float64
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(43), int64(5), object(10)
memory usage: 3.0+ GB

In [ ]:
df.head()

Warning: Total number of columns (58) exceeds max_columns (20). Falling back to pandas display.

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2022-06-01,2022-08-31,90,zip code,2,30725,f,71923,NaN,Arkansas,AR,All Residential,-1,167500.0,0.062817,0.131757,164000.0,0.038632,-0.078652,103.847690,0.032063,0.134446,106.388206,-0.001369,0.108991,50.0,-0.019608,0.282051,12.0,-0.20,0.0,53.0,0.000000,0.962963,32.0,0.000000,0.600000,NaN,NaN,NaN,43.5,-11.5,-16.5,0.959252,-0.016250,-0.013576,0.14,-0.016863,-0.090769,NaN,NaN,NaN,0.25,-0.016667,0.083333,"Arkadelphia, AR",11660,2023-04-09 14:55:08
1,2019-12-01,2020-02-29,90,zip code,2,21126,f,49265,NaN,Michigan,MI,All Residential,-1,294000.0,0.289474,0.781818,196950.0,-0.296356,0.094471,153.793302,0.241780,0.430980,115.717607,-0.201889,-0.150170,20.0,0.000000,0.176471,5.0,0.25,1.5,16.0,-0.058824,0.000000,18.0,-0.333333,-0.470588,NaN,NaN,NaN,77.0,10.0,-33.0,0.953579,-0.015355,-0.024645,0.05,0.000000,-0.185294,NaN,NaN,NaN,0.20,0.200000,-0.300000,"Adrian, MI",10300,2023-04-09 14:55:08
2,2012-07-01,2012-09-30,90,zip code,2,34119,f,78727,NaN,Texas,TX,Townhouse,13,140000.0,NaN,-0.255319,NaN,NaN,NaN,106.707317,NaN,-0.266671,NaN,NaN,NaN,1.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,NaN,35.0,0.965517,NaN,0.006334,0.00,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX",12420,2023-04-09 14:55:08
3,2012-11-01,2013-01-31,90,zip code,2,13119,f,31503,NaN,Georgia,GA,Single Family Residential,6,60000.0,0.395349,NaN,26900.0,0.000000,NaN,30.816641,0.088729,NaN,17.208687,0.000000,NaN,1.0,-0.500000,NaN,NaN,NaN,NaN,2.0,0.000000,NaN,3.0,0.000000,NaN,NaN,NaN,NaN,184.0,19.5,NaN,0.681818,-0.092424,NaN,0.00,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Waycross, GA",48180,2023-04-09 14:55:08
4,2016-04-01,2016-06-30,90,zip code,2,34063,f,78648,NaN,Texas,TX,Multi-Family (2-4 Unit),4,229500.0,NaN,NaN,NaN,NaN,NaN,83.881579,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.0,NaN,NaN,1.020000,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX",12420,2023-04-09 14:55:08

In [ ]:
# Number of characters to remove from the left side
n = 10

# Remove the fixed number of characters from the left side of each value in the column
df['region'] = df['region'].str.slice(n)

In [ ]:
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [ ]:
# Set the display options to show up to 50 columns
pd.set_option('display.max_columns', 60)

In [ ]:
df.head()

In [ ]:
# Extract the values from the 'filter_values_column' into a list
filter_values = df_zip['Zipcode'].tolist()
filter_values

[96756,
 96815,
 96753,
 96840,
 96732,
 96766,
 96746,
 96701,
 96725,
 96738,
 96720,
 96718,
 96714,
 96761,
 96722,
 96778,
 96707,
 96793,
 96740,
 96819,
 96826,
 96779,
 96708,
 96813,
 96731,
 96792,
 96771,
 96749,
 96744,
 96926,
 96703,
 96730,
 96734,
 96728,
 96719,
 96785,
 96713,
 96791,
 96717,
 96750,
 96776,
 96737,
 96789,
 96755,
 96704,
 96710,
 96768,
 96764,
 96770,
 96754,
 96748,
 96790,
 96781,
 96735,
 96786,
 96843,
 96760,
 96825,
 96712,
 96795,
 96814,
 96783,
 96848,
 96822,
 96743,
 96841,
 96821,
 96762,
 96726,
 96773,
 96808,
 96816,
 96772,
 96818,
 96765,
 96817,
 96858,
 96777,
 96706,
 96796,
 96727,
 96186,
 96863,
 96788,
 96830,
 98622,
 96797,
 96763,
 96752,
 96782,
 96774,
 96854,
 96715,
 96741,
 96780,
 96721,
 96820,
 96784,
 60637,
 60613,
 60615,
 60614,
 60618,
 60657,
 60616,
 60647,
 60622,
 60624,
 60608,
 60642,
 60630,
 60607,
 60625,
 60623,
 60612,
 60611,
 60482,
 60634,
 60629,
 60649,
 60640,
 60626,
 60660,
 60661,
 60654,
 60653,
 60645,
 60604,
 60610,
 60659,
 60605,
 60641,
 60617,
 60628,
 60644,
 60609,
 60606,
 60651,
 60633,
 60601,
 60621,
 60805,
 60619,
 60656,
 60638,
 60707,
 60652,
 60639,
 60603,
 60646,
 60302,
 60456,
 60631,
 60602,
 60632,
 60643,
 60620,
 60655,
 60804,
 60636,
 60402,
 60176,
 60202,
 60696]

In [ ]:
df['region'] = df['region'].astype('int64')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6911939 entries, 0 to 6911938
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          int64
 8   city                            float64
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(43), int64(6), object(9)
memory usage: 3.0+ GB

In [ ]:

# Filter the DataFrame based on the values in 'column_name' that are contained in the list
filtered_df = df[df['region'].isin(filter_values)]
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65609 entries, 199 to 6911858
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   period_begin                    65609 non-null  object
 1   period_end                      65609 non-null  object
 2   period_duration                 65609 non-null  int64
 3   region_type                     65609 non-null  object
 4   region_type_id                  65609 non-null  int64
 5   table_id                        65609 non-null  int64
 6   is_seasonally_adjusted          65609 non-null  object
 7   region                          65609 non-null  int64
 8   city                            0 non-null      float64
 9   state                           65609 non-null  object
 10  state_code                      65609 non-null  object
 11  property_type                   65609 non-null  object
 12  property_type_id                65609 non-null  int64
 13  median_sale_price               65609 non-null  float64
 14  median_sale_price_mom           63967 non-null  float64
 15  median_sale_price_yoy           61880 non-null  float64
 16  median_list_price               62929 non-null  float64
 17  median_list_price_mom           61188 non-null  float64
 18  median_list_price_yoy           59662 non-null  float64
 19  median_ppsf                     65296 non-null  float64
 20  median_ppsf_mom                 63597 non-null  float64
 21  median_ppsf_yoy                 61438 non-null  float64
 22  median_list_ppsf                62756 non-null  float64
 23  median_list_ppsf_mom            60988 non-null  float64
 24  median_list_ppsf_yoy            59472 non-null  float64
 25  homes_sold                      65609 non-null  float64
 26  homes_sold_mom                  63967 non-null  float64
 27  homes_sold_yoy                  61880 non-null  float64
 28  pending_sales                   52385 non-null  float64
 29  pending_sales_mom               47331 non-null  float64
 30  pending_sales_yoy               46897 non-null  float64
 31  new_listings                    62938 non-null  float64
 32  new_listings_mom                61197 non-null  float64
 33  new_listings_yoy                59674 non-null  float64
 34  inventory                       63467 non-null  float64
 35  inventory_mom                   61863 non-null  float64
 36  inventory_yoy                   60357 non-null  float64
 37  months_of_supply                0 non-null      float64
 38  months_of_supply_mom            0 non-null      float64
 39  months_of_supply_yoy            0 non-null      float64
 40  median_dom                      65406 non-null  float64
 41  median_dom_mom                  63745 non-null  float64
 42  median_dom_yoy                  61623 non-null  float64
 43  avg_sale_to_list                65580 non-null  float64
 44  avg_sale_to_list_mom            63936 non-null  float64
 45  avg_sale_to_list_yoy            61841 non-null  float64
 46  sold_above_list                 65609 non-null  float64
 47  sold_above_list_mom             63967 non-null  float64
 48  sold_above_list_yoy             61880 non-null  float64
 49  price_drops                     0 non-null      float64
 50  price_drops_mom                 0 non-null      float64
 51  price_drops_yoy                 0 non-null      float64
 52  off_market_in_two_weeks         52385 non-null  float64
 53  off_market_in_two_weeks_mom     47331 non-null  float64
 54  off_market_in_two_weeks_yoy     46897 non-null  float64
 55  parent_metro_region             65609 non-null  object
 56  parent_metro_region_metro_code  65609 non-null  int64
 57  last_updated                    65609 non-null  object
dtypes: float64(43), int64(6), object(9)
memory usage: 29.5+ MB

In [ ]:
# Save the selected columns to a CSV file
filtered_df.to_csv('/content/drive/MyDrive/Learning - FDP etc/MS - GIS (Illinois)/Spring 2023/GGIS 570 - Advanced Spatial Statistics/Final Project/Data/RedFin/hawaiichicagorealestatedata.csv', index=False)